@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

html {
    font-size: 12px;
    height: 100%;
}

body {
    border-top: 5px solid #9B51E0;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

input, button {
    outline: none;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container {
    flex: 1 0 auto;
}

.content-wrap {
    max-width: 961px;
    margin: 0 auto;
}

header {
    padding: 20px 0 16px;
}

.logo {
    position: relative;
    box-sizing: border-box;
    flex-shrink: 0;
    width: 50px;
    height: 48px;
    margin-right: 125px;
    border: 3px solid #FFC740;
    cursor: pointer;
}

.logo::after {
    content: 'super logo';
    position: absolute;
    left: 50%;
    top: 7px;
    background-color: #fff;
    font-size: 2rem;
    line-height: 1.2;
    font-weight: bold;
    white-space: nowrap;
    font-style: normal;
}

/* --- Search form --- */

.search-form {
    width: 201px;
}

.search-form__input {
    flex-basis: 80%;
    border: 1px solid #6D3D99;
}

.search-form__btn {
    flex-basis: 20%;
    background-color: #9B51E0;
    border: 1px solid #9B51E0;
    cursor: pointer;
}

.search-form__input,
.search-form__btn {
    height: 33px;
}

/* --- Navigation --- */

nav {
    margin-bottom: 17px;
}

.navigation-box__item {
    width: 12.5%;
    min-width: 8rem;
}

.navigation-box__link {
    line-height: 47px;
    font-size: 1.17rem;
    color: #000;
}

.navigation-box__link:hover,
.navigation-box__link_active {
    color: #fff;
    background-color: #FFC740;
    font-weight: 500;
    text-decoration: none;
}

/* --- Head news --- */

.head-news {
    background:#9B51E0 url('../img/header-news-bg.jpg') center center;
    background-size: cover;
}

.head-news__text {
    padding: 20px 0 20px 40px;
}

.head-news__text h1 {
    color: #FFC740;
    font-size: 5.33rem;
    font-weight: normal;
    line-height: 1.1;
    padding-bottom: 6px;
    padding-right: 10px;
}

.head-news__text p {
    padding-right: 14%;
    margin-bottom: 8px;
    color: #fff;
    font-size: 1.17rem;
    font-weight: 300;
    line-height: 1.3;
}

.head-news__text input {
    padding: 0 2.03rem;
    font-size: 1.16rem;
    line-height: 2.45;
    border: none;
    color: #fff;
    background-color: #6D3D99;
    cursor: pointer;
}

/* --- News content --- */

.news-content {
    width: 100%;
    margin: 0 auto;
    padding-top: 33px;
}

.news-content__wrap {
    padding: 0 10px;
    margin-bottom: 33px;
}

.news-content__elem {
    position: relative;
    border-top: 16px solid #9B51E0;
    padding-top: 14px;
}

.news-content__elem_border-change {
    border-color: #FFC740;
}

.news-content__elem_border-change  .news-content__header:hover {
    color: #FFC740;
}

.news-content__header {
    position: absolute;
    left: 16px;
    top: -16px;
    font-size: 1.16rem;
    font-weight: bold;
    line-height: 16px;
    text-transform: uppercase;
    padding: 0 4px;
    background-color: #fff;
    color: #000;
}

.news-content__header:hover {
    text-decoration: none;
    color: #9B51E0;
}

.news-content__img,
.news-content__text {
    flex: 0 0;
}

.news-content__img {
    box-sizing: border-box;
    padding: 2px;
    border: 2px solid #FFC740;
    flex-basis: 30.9%;
    max-width: 30.9%;
    align-self: flex-start;
    transition: padding 0.3s;
    cursor: pointer;
}

.news-content__img:hover {
    padding: 05px;;
}

.news-content__img img {
    display: block;
    width: 100%;
}

.news-content__text {
    flex-basis: 69.1%;
    padding-left: 19px;
    line-height: 1.17;

}

.news-content__text p {
    padding-bottom: 10px;
}

.news-content__text a {
    color: #000;
    text-decoration: underline;
    line-height: 1.17rem;
}



footer {
    flex: 0 0 auto;
}



